extends default_layout.pug
block container
	div.blackContainer.center-align
		h1 Domoticz DATA
		span.user.msg User : #{email}
		if (success)
		span.success.msg #{success}
		br
		if (error) 
		span.error.msg #{error}
		form(method='POST' action='./account')
			ul
				li
					label(for='domoHost') Domoticz Host:
					input#domoHost(
						type='text'
						name='domoHost'
						placeholder='http://ipOrDomain'
						value=domoticzHost
						)
				li
					label(for='domoPort') Domoticz Port:
					input#domoPort(
						type='number'
						name='domoPort'
						placeholder='8080'
						value=domoticzPort
						)
				li
					label(for='domoLogin') Domoticz Login:
					input#domoLogin(
						type='text'
						name='domoLogin'
						placeholder='yourLogin'
						value=domoticzLogin
						)
				li
					label(for='domoPass') Domoticz Password:
					input#domoPass(
						type='password'
						name='domoPass'
						value=domoticzPassword
						)
				li
					br
					button.btn.waves-effect.waves-light.green(
							type='submit'
							) Modifier
							i.material-icons.left check